*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main_box{
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;

}
.btn_one i{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255,255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;

}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    height: 60px;

}
.sidebar_menu .logo a{
    position: absolute;
    left: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}
.sidebar_menu .btn_two i{
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 275px;
    line-height: 60px;
    color: gray;
    cursor: pointer;
    opacity: 0;

}

.sidebar_menu .menu{
    /* color: azure; */
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top:6px ;
    padding: 10px 20px;
}

.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    padding: 0 5px ;
    color: white;
    opacity: 0.5;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.btn_one:hover i {
    font-size: 40px;
}

.btn_two:hover i {
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 2;
    transform: 1.1;
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
  z-index: 0;
}

/* TYPEWRITER EFFECT */
.typewriter {
  font-size: 42px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 3px;

  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;

  width: 0;
  animation: typing 20s steps(20, end) infinite,
             blink 0.9s infinite;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: #fff; }
  100% { border-color: transparent; }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

